<ion-grid class="fabric-grid" *ngIf="fabricMaster.length" style="padding: 0rem;">
  <ion-row>
    <ion-col
      size="6"
      size-md="4"
      size-lg="3"
      *ngFor="let fabric of displayedFabrics; let i = index"
    >
      <ion-card class="fabric-card">
        <img [src]="fabric.imageUrl" [alt]="fabric.fabricType" />
        <ion-card-header>
          <ion-card-title class="font-16">{{ fabric.fabricType }}</ion-card-title>
        </ion-card-header>
        <!-- <ion-card-content>
          <p>{{ fabric.description }}</p>
          <ion-button expand="full"> View Details </ion-button>
        </ion-card-content> -->
      </ion-card>
    </ion-col>
  </ion-row>

  <!-- View More Button -->
  <div class="load-more-container" *ngIf="!allFabricsLoaded">
    <ion-button
      class="view-more"
      (click)="loadMoreFabrics()"
      expand="full"
      color="secondary"
    >
      <span>View More Fabrics</span>
    </ion-button>
  </div>
</ion-grid>
