<div class="top-rated">
  <h3 class="section-title">Top Rated Fabrics</h3>
  <ion-grid class="fabric-grid" *ngIf="fabricMaster.length">
    <ion-row>
      <ion-col
        size="6"
        size-md="4"
        size-lg="3"
        *ngFor="let fabric of displayedFabrics; let i = index"
      >
        <ion-card class="fabric-card">
          <img [src]="fabric.imageUrl" [alt]="fabric.fabricType" />
          <ion-card-header>
            <ion-card-title>{{ fabric.fabricType }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>{{ fabric.description }}</p>
            <ion-button expand="full"> View Details </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- View More Button -->
    <ion-row *ngIf="!allFabricsLoaded">
      <ion-col size="12" class="center-button">
        <ion-button expand="full" (click)="loadMoreFabrics()">
          View More Fabrics
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
