<ion-tabs>
  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="dashboard" href="/tabs/mytabs">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tailor" href="/tabs/mytabs">
      <ion-icon name="cut-outline"></ion-icon>
      <ion-label>Tailor</ion-label>
    </ion-tab-button>
    <ion-tab-button>
      <ion-icon name="shirt-outline"></ion-icon>
      <ion-label>Fabric</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="order" href="/tabs/mytabs">
      <ion-icon name="book-outline"></ion-icon>
      <ion-label>Order</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cart" href="/tabs/mytabs">
      <ion-icon name="cart-outline"></ion-icon>
      <ion-label>Cart</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="menu" href="/tabs/mytabs">
      <ion-icon name="menu-outline"></ion-icon>
      <ion-label>Menu</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>

