<ion-tabs>
  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button (click)="onClick('Home')">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="onClick('Tailor')">
      <ion-icon name="cut-outline"></ion-icon>
      <ion-label>Tailor</ion-label>
    </ion-tab-button>

    <ion-tab-button  (click)="onClick('Order')">
      <ion-icon name="book-outline"></ion-icon>
      <ion-label>Order</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="onClick('Cart')">
      <ion-icon name="cart-outline"></ion-icon>
      <ion-label>Cart</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="onClick('Menu')">
      <ion-icon name="menu-outline"></ion-icon>
      <ion-label>Menu</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>

