<ion-header [translucent]="true">
  <ion-toolbar color="primary">
     <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/main/user"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>My Order</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <ng-container *ngFor="let user of orderList">
    <!-- Orders Loop -->
    <ng-container *ngFor="let order of user.data">
      <ion-card class="order-card">
        <h5 style="text-align: center;">Order Id: {{user?.orderId}}</h5>
        <!-- Tailor Section -->
        <ion-list lines="none">
    <ion-item class="step done">
      <ion-icon name="checkmark-circle" slot="start" color="success"></ion-icon>
      <ion-label>
        <h3>Order Confirmed </h3> <!--  <span class="today">Today</span> -->
        <p>Your Order has been placed, {{user.bookingDate}}</p>
      </ion-label>
    </ion-item>

    <ion-item class="step">
      <ion-icon name="ellipse-outline" slot="start" color="medium"></ion-icon>
      <ion-label>
        <p>Shipped, Expected by {{getExceptedDate(user.bookingDate)}}</p>
      </ion-label>
    </ion-item>

    <ion-item class="step">
      <ion-icon name="ellipse-outline" slot="start" color="medium"></ion-icon>
      <ion-label>
        <p>Out For Delivery</p>
      </ion-label>
    </ion-item>

    <ion-item class="step">
      <ion-icon name="ellipse-outline" slot="start" color="medium"></ion-icon>
      <ion-label>
        <p>Delivery, {{getDeliveryDate(user?.bookingDate)}} by 11 PM</p>
      </ion-label>
    </ion-item>
  </ion-list>
        <ion-item lines="none" *ngIf="order">
          <ion-avatar slot="start">
            <img [src]="order?.tailor?.imageUrl" alt="Tailor" />
          </ion-avatar>
          <ion-label>
            <h2>{{ order?.tailor?.name }}</h2>
            <p>Expertise: {{ order?.tailor?.expertise }}</p>
            <ion-chip>
              <ion-icon name="star-outline" color="warning"></ion-icon>
              <ion-label>{{ order?.tailor?.rating }} | {{ order?.tailor?.experience }} yrs</ion-label>
            </ion-chip>
            <!-- <p>📍 {{ order.tailor.distance }} km </p> -->
          </ion-label>
        </ion-item>

        <!-- Divider -->
        <ion-item-divider color="light">
          <ion-label>Order Details</ion-label>
        </ion-item-divider>

        <!-- Article -->
        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <img [src]="order?.itme?.article?.imageUrl" alt="Article" />
          
          </ion-thumbnail>
          <ion-label>
            <p>{{ order?.itme?.article?.articleName }} | {{ order?.itme?.serviceType }}</p>
          </ion-label>
        </ion-item>

        <!-- Fabric -->
        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <img [src]="order?.itme?.fabric?.imageUrl" alt="Fabric" />
            <p style="text-align: center;">{{ order?.itme?.fabric?.fabricType }}</p>
          </ion-thumbnail>
          <ion-label>
            <p>Weave: {{ order?.itme?.fabric?.weaveType }}</p>
            <p>Texture: {{ order?.itme?.fabric?.texture }}</p>
            <p>Weight: {{ order?.itme?.fabric?.weight }}</p>
            <p>Washing: {{ order?.itme?.fabric?.washingInstruction }}</p>
            <p>Ironing: {{ order?.itme?.fabric?.ironing }}</p>
            <p>Brand: {{ order?.itme?.fabric?.brandName }}</p>
            <p>₹{{ order?.itme?.fabric?.pricePerMeter }}/m</p>
          </ion-label>
        </ion-item>
      </ion-card>
    </ng-container>
  </ng-container>

</ion-content>
