<ion-content class="login-page">
  <div class="header">
    <img src="assets/logo/eComm-logo.png" alt="e-commerce" />
    <h2>Your Home Service Expert</h2>
    <h5>Quick · Affordable · Trusted</h5>
  </div>

  <div class="login-form">
    <div class="phone-input">
      <ion-item lines="none" class="ionItem">
        <div class="country-code">
          <img src="assets/flags/india.png" class="flag" alt="India Flag" />
          <span class="code">+91</span>
        </div>
        <form [formGroup]="loginForm">
          <ion-input
            class="mobile"
            type="tel"
            maxlength="10"
            formControlName="phoneNumber"
            placeholder="Enter mobile number"
          ></ion-input>
        </form>
      </ion-item>
    </div>
    <ion-button [disabled]="(loginForm.get('phoneNumber')?.value.length == 10) ? false : true" expand="block" class="casing"
      (click)="getVerificationCode()">
      Get verification code
    </ion-button>
    <ion-button fill="clear" class="casing" (click)="skip()">Skip</ion-button>
  </div>
</ion-content>
