<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start" *ngIf="tailor">
      <ion-back-button defaultHref="/tabs/customer/tailor-profile/{{ tailor.id }}"></ion-back-button>
    </ion-buttons>
    <ion-title>Book Tailor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="tailor">
  <div class="tailor-info">
    <ion-avatar>
      <img [src]="tailor.image">
    </ion-avatar>
    <h2>{{ tailor.name }}</h2>
    <p>{{ tailor.specialization }}</p>
  </div>
  <form [formGroup]="bookingForm">
    <ion-item>
      <ion-label>Choose Service</ion-label>
      <ion-select formControlName="selectedService">
        <ion-select-option *ngFor="let service of tailor?.services" [value]="service">
          {{ service.name }} - ₹{{ service.price }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Select Date</ion-label>
      <ion-datetime formControlName="selectedDate" presentation="date"></ion-datetime>
    </ion-item>
    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime id="bookingDate" formControlName="selectedDate"></ion-datetime>
      </ng-template>
    </ion-modal>
    <ion-item>
      <ion-label>Select Time Slot</ion-label>
      <ion-select formControlName="selectedTime">
        <ion-select-option *ngFor="let time of availableTimeSlots" [value]="time">
          {{ time }}
        </ion-select-option>
      </ion-select>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">Additional Instructions</ion-label>
      <ion-textarea formControlName="instructions"></ion-textarea>
    </ion-item>
  </form>
  
  <div class="confirm-btn">
    <ion-button expand="full" color="primary" (click)="confirmBooking()">
      Confirm Booking
    </ion-button>
  </div>
</ion-content>
