<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/customer"></ion-back-button>
    </ion-buttons>
    <ion-title>With Fabric</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="location" class="location-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="search-container">
    <ion-searchbar
      [(ngModel)]="searchQueryAuto"
      (click)="stopAutoTyping()"
      (ionBlur)="restartAutoTyping()"
      [placeholder]="searchQueryAuto"
      class="custom-searchbar"
    ></ion-searchbar>
  </div>
  <div class="category-list">
    <div class="category-item" *ngFor="let menu of masterMenu">
      <ion-thumbnail class="articles" (click)="goToArticle(menu)">
        <img [src]="menu.imageUrl" [alt]="menu.articleName" />
      </ion-thumbnail>
      <p class="thumbnail-text">{{ menu.articleName }}</p>
    </div>
  </div>

  <div *ngIf="masterBrandData.length > 0">
    <ngb-carousel
      #carousel
      [interval]="2000"
      [pauseOnFocus]="pauseOnFocus"
      (slide)="onSlide($event)"
      [showNavigationArrows]="true"
      [showNavigationIndicators]="false"
      class="carousel-container custom-carousel"
    >
      <ng-template ngbSlide *ngFor="let brand of masterBrandData">
        <div class="carousel-slide">
          <!-- Image -->
          <div class="picsum-img-wrapper">
            <img
              [src]="brand.logoUrl"
              [alt]="brand.brandName"
              height="245px"
              width="455px"
            />
          </div>
          <!-- Overlay Text (Brand Name + Discount) -->
          <div class="carousel-caption">
            <p class="h2"><strong>{{ brand.brandName }}</strong></p>
            <p>Get up to <strong>{{ brand.discount }}% OFF</strong>!</p>
          </div>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>

  <!-- <div *ngIf="masterBrandData">
    <ngb-carousel
      #carousel
      [interval]="2000"
      [pauseOnFocus]="pauseOnFocus"
      (slide)="onSlide($event)"
      class="carousel-container carousel"
    >
      <ng-template ngbSlide *ngFor="let brand of masterBrandData; let i = index">
        <div class="carousel-slide">
          <div class="carousel-caption">
            <h3>{{brand.brandName}}</h3>
          </div>
          <a>
            <div class="picsum-img-wrapper">
              <img [src]="brand.logoUrl" [alt]="brand.description" height="250px" width="500px" />
            </div>
          </a>
        </div>
      </ng-template>
    </ngb-carousel>
  </div> -->

  <!-- Fabric cards -->
  <div class="top-rated" style="padding-bottom: 20px;">
    <h3 class="section-title">Fabric By Material</h3>
    <ion-grid class="fabric-grid" *ngIf="FabricMaster.length" style="padding: 0rem;">
      <ion-row>
        <ion-col
          size="6"
          size-md="4"
          size-lg="3"
          *ngFor="let fabric of FabricMaster; let i = index"
        >
          <ion-card class="fabric-card">
            <img [src]="fabric.imageUrl" [alt]="fabric.fabricType" />
            <ion-card-header>
              <ion-card-title>{{ fabric.fabricType }}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p>{{ fabric.description }}</p>
              <ion-button expand="full"> View Details </ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    
      <!-- View More Button -->
      <div class="load-more-container" *ngIf="!allFabricsLoaded">
        <ion-button
          class="view-more"
          (click)="loadMoreFabrics()"
          expand="full"
          color="secondary"
        >
          <span>View More Material</span>
        </ion-button>
      </div>
    </ion-grid>
  </div>

  <div class="top-rated" style="padding-bottom: 20px;">
    <h3 class="section-title">Fabrics By Texture</h3>
    <ion-grid class="fabric-grid" *ngIf="FabricMaster.length" style="padding: 0rem;">
      <ion-row>
        <ion-col
          size="6"
          size-md="4"
          size-lg="3"
          *ngFor="let fabric of FabricMaster; let i = index"
        >
          <ion-card class="fabric-card">
            <img [src]="fabric.imageUrl" [alt]="fabric.fabricType" />
            <ion-card-header>
              <ion-card-title>{{ fabric.fabricType }}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p>{{ fabric.description }}</p>
              <ion-button expand="full"> View Details </ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    
      <!-- View More Button -->
      <div class="load-more-container" *ngIf="!allFabricsLoaded">
        <ion-button
          class="view-more"
          (click)="loadMoreFabrics()"
          expand="full"
          color="secondary"
        >
          <span>View More Texture</span>
        </ion-button>
      </div>
    </ion-grid>
  </div>

  <div class="top-rated">
    <h3 class="section-title text-center">Fabrics By Color</h3>
    <ion-grid class="fabric-grid">
      <ion-row>
        <ion-col
          size="6"
          size-md="4"
          size-lg="3"
          *ngFor="let color of colorMaster"
        >
          <ion-card class="fabric-card">
            <div
              class="fabric-color-preview"
              [style.background-color]="color.hexCode"
            ></div>
  
            <ion-card-header class="text-center">
              <ion-card-title>{{ color.colorName }}</ion-card-title>
            </ion-card-header>
  
            <ion-card-content>
              <!-- <p class="fabric-description">{{ color.description }}</p> -->
              <ion-button expand="full" color="primary">View</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
  
      <!-- View More Button -->
      <div class="load-more-container text-center" *ngIf="!allFabricsLoaded">
        <ion-button
          class="view-more"
          (click)="loadMoreFabrics()"
          expand="full"
          color="secondary"
        >
          <span>View More Colors</span>
        </ion-button>
      </div>
    </ion-grid>
  </div>
  
  
</ion-content>
