.change{
    color: var(--ion-color-primary);
    height: 100%;
    margin-top: 10px;
}

.ion-thumbnail{
    width: 130px;
    height: 135px;
    margin-left: -7px;
    --border-radius: 8px;
}

.check-box{
    padding-left: 10px;
    padding-top: 10px;
    --size: 16px;
}
.custom-checkbox::part(label) {
  margin-left: -10px; /* default is bigger, reduce it */
}

.check-icon{
    position: absolute;
    top: 15px;
    font-size: 24px;
    left: 15px;
}