<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/customer"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="tailor">{{ tailor?.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="tailor">
  <ion-card class="tailor-profile-card">
    <ion-card-header class="image-container">
      <img [src]="tailor.imageUrl" [alt]="tailor.name" />
    </ion-card-header>
  
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="4" style="text-align: left;" ><strong>Expertise :</strong></ion-col>
          <ion-col size="8" style="text-align: right;">{{ tailor.expertise }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4" style="text-align: left;" ><strong>Experience :</strong></ion-col>
          <ion-col size="8" style="text-align: right;">{{ tailor.experience }} years</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4" style="text-align: left;" ><strong>Rating :</strong></ion-col>
          <ion-col size="8" style="text-align: right;">
            <ion-badge color="success">{{ tailor.rating }} ⭐</ion-badge>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4" style="text-align: left;" ><strong>Distance :</strong></ion-col>
          <ion-col size="8" style="text-align: right;">{{ tailor.distance }} km away</ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  
  <!-- Book Now Button -->
  <!-- routerLink="/book-tailor/{{ tailor?.id }}" -->
  <div class="book-btn">
    <ion-button expand="full" color="primary" (click)="bookTailor()">
      Book Now
    </ion-button>
  </div>
</ion-content>
