<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      <div class="logo-container">
        <ion-thumbnail class="logo-thumbnail">
          <img src="/assets/logo/eComm-logo.png" />
        </ion-thumbnail>
        <span class="title-text">Tailor Dashboard</span>
      </div>
    </ion-title>
    <ion-avatar *ngIf="isLoggedIn" slot="end" 
    (click)="openMenu($event, '750ms', '375ms')" class="char-avatar">
    <ng-container *ngIf="isLoggedIn">
      <div class="avatar-text">{{ userInitial }}</div>
    </ng-container>
  </ion-avatar>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" style="--background: #f4f4f4;">
  <div class="search-bar-container">
    <ion-searchbar placeholder="Search for 'New Order'" debounce="500"></ion-searchbar>
  </div>

  <div class="cards-container">
    <ion-card *ngFor="let card of displayedCards" (click)="navigateTo(card.path)">
      <ion-card-header>
        <ion-card-title>{{ card.title }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{ card.description }}
      </ion-card-content>
    </ion-card>
  </div>
  <ion-button *ngIf="showSeeAll" expand="full" (click)="viewAllCards()">
    See All
  </ion-button>
  
</ion-content>
