<ion-tabs>
  <ion-tab-bar slot="bottom" color="primary">
    <!-- *ngIf="appRole=='Customer'" tab="customer" href="/tabs/customer" -->
    <ion-tab-button tab="home" href="/tabs/mytabs/home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <!-- *ngIf="appRole=='Tailor'" tab="tailor" href="/tabs/tailor" -->
    <!-- *ngIf="['Customer','Tailor'].includes(appRole)" tab="tab1" href="/tabs/tab1" -->
    <ion-tab-button>
      <ion-icon name="cut-outline"></ion-icon>
      <ion-label>Tailor</ion-label>
    </ion-tab-button>

    <!-- *ngIf="['Customer','Tailor'].includes(appRole)" tab="tab2" href="/tabs/tab2" -->
    <ion-tab-button>
      <ion-icon name="shirt-outline"></ion-icon>
      <ion-label>Fabric</ion-label>
    </ion-tab-button>

    <!-- *ngIf="['Customer','Tailor'].includes(appRole)" tab="tab3" href="/tabs/tab3" -->
    <ion-tab-button >
      <ion-icon name="book-outline"></ion-icon>
      <ion-label>Order</ion-label>
    </ion-tab-button>

    <ion-tab-button >
      <ion-icon name="cart-outline"></ion-icon>
      <ion-label>Cart</ion-label>
    </ion-tab-button>

    <ion-tab-button  tab="menu" href="/tabs/mytabs/nemu">
      <ion-icon name="menu-outline"></ion-icon>
      <ion-label>Menu</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>

