.search-container:focus-within {
    border: 1px solid #ff6600; /* Highlight border */
    box-shadow: none !important; /* Removes shadow */
    transform: none !important; /* Prevents movement */
  }
  
  ion-card {
    text-align: center;
    padding: 15px;
  }
  
  ion-footer {
    text-align: center;
  }
  
  #service {
    text-align: center;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    p {
      font-size: 1.25rem;
      color: white;
    }
  }
  
  .service {
    --size: 9.938rem;
    --border-radius: 0.875rem;
    border: 1px solid;
  }
  .fabric-thumb {
    --size: 5.938rem;
    --border-radius: 0.875rem;
    border: 1px solid;
  }
  .text-service {
    text-align: center;
    color: black;
    font-size: 1.3rem;
    font-weight: 500;
    background-color: white;
    border-radius: 5px;
  }
  
  
  .align-right {
    display: flex;
    justify-content: flex-end;
    align-items: center; /* Ensures vertical alignment */
    padding: 0px;
  }
  
  ion-card {
    border-radius: 12px;
    overflow: hidden;
  }
  
  ion-card-title {
    color: #333;
  }
  
  ion-button {
    margin: 10px;
  }
  
  ion-grid {
    padding: 0px;
  }
  ion-col {
    padding: 0px;
  }
  
  h3{
    margin-top: 0rem !important;
  }
  
  .section-title {
    padding-left: 10px;
  }
  
  .fabric-card {
    transition: transform 0.3s ease-in-out;
  }
  
  .fabric-card:hover {
    transform: scale(1.05);
  }
  
  .center-button {
    display: flex;
    justify-content: center;
  }
  