<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      <div class="logo-container">
        <ion-thumbnail class="logo-thumbnail">
          <img src="/assets/logo/t-Logo1.jpg" />
        </ion-thumbnail>
        <span class="title-text">Home</span>
      </div>
    </ion-title>
    <!-- <ion-avatar
      *ngIf="isLoggedIn"
      slot="end"
      (click)="openMenu($event, '185ms', '90ms')"
      class="char-avatar"
    >
      <ng-container *ngIf="isLoggedIn">
        <div class="avatar-text">{{ userInitial }}</div>
      </ng-container>
    </ion-avatar> -->
    <ion-buttons *ngIf="!isLoggedIn" slot="end">
      <ion-button (click)="navigateTo()">Login</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="location" class="location-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="search-container">
    <ion-searchbar
      [(ngModel)]="searchQuery"
      (click)="stopAutoTyping()"
      (ionBlur)="restartAutoTyping()"
      [placeholder]="searchQueryAuto"
      class="custom-searchbar"
    ></ion-searchbar>
  </div>

  <div *ngIf="permotionalBanner.length > 0">
    <ngb-carousel
      #carousel
      [interval]="2000"
      [pauseOnFocus]="pauseOnFocus"
      (slide)="onSlide($event)"
      [showNavigationArrows]="true"
      [showNavigationIndicators]="false"
      class="carousel-container custom-carousel"
    >
      <ng-template ngbSlide *ngFor="let brand of permotionalBanner">
        <div class="carousel-slide">
          <!-- Image -->
          <div class="picsum-img-wrapper">
            <img
              [src]="brand.logoUrl"
              [alt]="brand.brandName"
              height="245px"
              width="455px"
            />
          </div>

          <!-- Overlay Text (Brand Name + Discount) -->
          <div class="carousel-caption">
            <p class="h2"><strong>{{ brand.brandName }}</strong></p>
            <p>Get up to <strong>{{ brand.discount }}% OFF</strong>!</p>
          </div>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>

  
  <div class="grid grid-cols-2 gap-6 p-1" style="margin-top: 1.563rem;">
    <ion-grid *ngIf="ourService">
      <ion-row class="flex justify-center items-center gap-6">
        <ion-col
          *ngFor="let service of ourService; let i = index"
          (click)="getService(service)"
          size="6"
          class="flex flex-col items-center"
        >
          <div
            class="bg-white rounded-[10px] shadow-lg p-3 transform hover:scale-105 transition duration-300"
            style="margin: 7px; border-radius: 10px"
          >
            <img
              [src]="service.image"
              [alt]="service.alt"
              class="w-full h-40 object-cover rounded-[10px]"
            />
            <div
              class="text-black font-bold text-center mt-2 text-base sm:text-lg"
            >
              {{ service.serviceType }}
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!-- Popular Tailors Section -->
  <!-- Top Rated Fabric -->
  <div class="top-rated">
    <h3 class="section-title fs-subtitle">Top Rated Fabrics</h3>
    <app-top-rated-fabric></app-top-rated-fabric>
  </div>

  <!-- Top rated Tailor -->
   <app-top-rated-tailor></app-top-rated-tailor>

</ion-content>
<!-- <app-footer></app-footer> -->

 