<!-- <ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/main/dashboard/with-fabric"
      ></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="article">{{article.articleName}}</ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-toolbar class="toolbar">
  <ion-header class="custom-header">
    <ion-buttons>
      <ion-back-button
        defaultHref="/main/dashboard/with-fabric"
      ></ion-back-button>
      <ion-title *ngIf="article">{{article.articleName}}</ion-title>
    </ion-buttons>

    <div class="search-bar-row">
      <ion-searchbar
        [placeholder]="searchQueryAuto"
        class="custom-searchbar"
        searchIcon="search-outline"
        mode="md"
        showCancelButton="never"
        animated="true"
        slot="end"
      ></ion-searchbar>

      <div class="icon-row">
        <ion-icon name="notifications-outline"></ion-icon>
        <ion-icon name="heart-outline"></ion-icon>
        <ion-icon name="person-outline"></ion-icon>
      </div>
    </div>
  </ion-header>
</ion-toolbar>
<ion-content
  [fullscreen]="true"
  (ionScroll)="onScroll($event)"
  scrollEvents="true"
>
  <div class="category-list">
    <div
      class="category-item"
      *ngFor="let articleCat of articlesCategory"
      [ngClass]="{ 'selected': articleCat.selected }"
      (click)="toggleSelection(articleCat)"
    >
      <ion-thumbnail class="articles checked">
        <img [src]="articleCat.path" [alt]="articleCat.artCatName" />
        <ion-icon
          *ngIf="articleCat.selected"
          name="checkmark-circle"
          class="check-icon"
        ></ion-icon>
      </ion-thumbnail>
      <p class="thumbnail-text">{{ articleCat.fabric }}</p>
    </div>
  </div>

  <div *ngIf="articlesCategories">
    <ngb-carousel
      #carousel
      [interval]="2000"
      [pauseOnFocus]="true"
      (slide)="onSlide($event)"
      [showNavigationArrows]="true"
      [showNavigationIndicators]="false"
      class="carousel-container custom-carousel"
    >
      <ng-template ngbSlide *ngIf="article">
        <div class="carousel-slide">
          <!-- <div class="carousel-caption">
            <h3>{{article.articleName}}</h3>
          </div> -->
          <a>
            <div class="picsum-img-wrapper">
              <img
                [src]="'assets/images/offer/Seasonal_disc.png'"
                [alt]="article.articleName"
                height="245px"
                width="455px"
              />
            </div>
          </a>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>

  <div class="top-rated" style="padding-bottom: 20px">
    <h3 class="section-title fs-subtitle">Fabric By Article</h3>
    <ion-grid
      class="fabric-grid"
      *ngIf="articlesCategories.length"
      style="padding: 0rem"
    >
      <ion-row>
        <ion-col
          size="6"
          size-md="4"
          size-lg="3"
          *ngFor="let artCat of articlesCategories; let i = index;"
        >
          <ion-card class="fabric-card" (click)="selectedArticle(artCat)">
            <img [src]="artCat.path" [alt]="artCat.fabric" />
            <ion-card-header>
              <ion-card-title class="font-16">
                <span style="font-size: 0.75rem; font-weight: 600"
                  >{{ artCat.fabric }}</span
                >
                <br />
                <span style="font-size: 0.75rem">{{artCat.articleName}}</span>
                <br />
                <span style="font-size: 0.75rem"
                  >&#8377;{{ artCat.priceId }}</span
                >
              </ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>

      <!-- View More Button -->
      <!-- <div class="load-more-container" *ngIf="!allFabricsLoaded">
        <ion-button
          class="view-more"
          (click)="loadMoreFabrics()"
          expand="full"
          color="secondary"
        >
          <span>View More Article</span>
        </ion-button>
      </div> -->
    </ion-grid>
  </div>
</ion-content>
