<ion-toolbar class="toolbar">
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/main/with-fabric/{{fabricId}}"></ion-back-button>
  </ion-buttons>
  <ion-title *ngIf="fabricCategory">{{ fabricCategory.fabricName }}</ion-title>
</ion-toolbar>

<ion-content [fullscreen]="true">
  <div *ngIf="fabricColors">
    <div style="margin-right: 24px;">
      <swiper-container class="carousel-container custom-carousel" slides-per-view="1" pagination="true"
        navigation="false" style="width: 100%; height: 250px">
        <swiper-slide *ngFor="let img of selectedFabricColor.images">
          <img [src]="img.imageUrl" [alt]="selectedFabricColor.colorName" height="210px" width="455px" />
        </swiper-slide>
      </swiper-container>
    </div>

    <ion-toolbar *ngIf="articleData && fabricCategory" class="heart-toolbar">
      <ion-title style="text-align: left; padding-left: 15px; font-size: 14px;">{{articleData.articleName}} |
        {{fabricCategory.categoryName}}
        <br><span style="font-weight: 200;">MRP </span> <span style="font-weight: normal;">&#8377;{{
          fabricCategory.pricePerMeter }}</span></ion-title>

      <ion-buttons slot="end">
        <ion-button>
          <ion-icon id="share-outline" name="share-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
    <span style="font-weight: 600; font-size: 14px; margin-left: 15px;">Color</span>
    <div class="category-list">
      <div class="category-item" *ngFor="let color of fabricColors; let i = index"
        [ngClass]="{ 'selected': color?.selected }" (click)="toggleSelection(color, i)">
        <ion-thumbnail class="articles checked">
          <img [src]="color.images[0].imageUrl" [style.filter]="getColorFilter(color.hexCode)"
            [alt]="color.colorName" />
          <ion-icon *ngIf="color?.selected" name="checkmark-circle" class="check-icon"></ion-icon>
        </ion-thumbnail>
        <span>{{color.colorName}}</span>
      </div>
    </div>
    <div style="display: flex; justify-content: center; gap: 25px;">
      <span><ion-button (click)="addToWishList(article)" fill="outline">
          <ion-icon [style.color]="isWishlisted ? 'red' : 'gray'" style="padding-right: 10px;" name="heart">
          </ion-icon> Wishlist</ion-button></span>
      <span><ion-button fill="solid" (click)="addToBag()">
          <ion-icon style="padding-right: 10px;" name="bag-outline">
          </ion-icon> Add to Bag</ion-button></span>
    </div>
    <div style="padding-left: 10px; padding-right: 10px; height: 50px;">
      <h6 style="margin-left: 10px;">Delivery & Services</h6>
      <div class="box-delivery">
        <span style="line-height: 3.3; padding-left: 10px;">
          Current Address
        </span>
        <span><ion-button fill="clear">Chnage</ion-button></span>
      </div>

    </div>
    <div class="product-detail">
      <span style="font-weight: 600; padding-left: 20px;">Product Details</span>
      <p style="padding-left: 20px;">Solid formal shirt</p>
    </div>
  </div>

</ion-content>