<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/main/dashboard/with-fabric/{{articleId}}"
      ></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="fabric || article">{{ fabric.fabricType }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="subArtcles.length > 0">
    <ion-card
      [ngStyle]="{'height': '170px', 'background-color': selectedColor?.hexCode}"
    >
    </ion-card>
    <!-- <ngb-carousel
      #carousel
      [pauseOnFocus]="pauseOnFocus"
      (slide)="onSlide($event)"
      [showNavigationArrows]="true"
      [showNavigationIndicators]="false"
      class="carousel-container custom-carousel"
    >
      <ng-template ngbSlide *ngFor="let subArt of subArtcles">
        <div class="carousel-slide">
          <div class="picsum-img-wrapper">
            <img
              [src]="subArt.imageUrl"
              [alt]="subArt.subArticleName"
              height="245px"
              width="455px"
            />
          </div>
        </div>
      </ng-template>
    </ngb-carousel> -->
    <ion-toolbar class="heart-toolbar">
      <ion-text slot="start" style="padding-left: 0.625rem" class="fs-subtitle"
        >Color</ion-text
      >
      <!-- <ion-buttons slot="end">
        <ion-button (click)="addToWishList()">
          <ion-icon
            id="heart-outline"
            name="heart" aria-label="Favorite"
            [style.color]="isWishlisted ? 'red' : ''"
          ></ion-icon
        ></ion-button>
      </ion-buttons> -->
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon id="share-outline" name="share-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>

    <!-- Select Color -->
    <!-- <ion-row>
      <ion-col class="colorText">
        <ion-text style="padding-left: 0.625rem;" class="fs-subtitle">Color</ion-text>
      </ion-col>
    </ion-row> -->

    <div class="category-list">
      <div class="category-item" *ngFor="let color of colorMaster">
        <ion-thumbnail class="articles" (click)="selectColor(color)">
          <div class="color-circle" [style.background-color]="color.hexCode">
            <ion-icon
              *ngIf="selectedColor?.hexCode === color.hexCode"
              name="checkmark-circle-outline"
              class="check-icon"
            ></ion-icon>
          </div>
        </ion-thumbnail>
        <p
          class="thumbnail-text"
          [style.color]="selectedColor?.hexCode === color.hexCode ? color.hexCode : ''"
        >
          {{ color.colorName }}
        </p>
      </div>
    </div>
  </div>
  <ion-grid>
    <ion-row class="fabric-qunt">
      <ion-col
        ><span class="label">Fabric : </span
        ><span class="value">{{fabric?.fabricType}}</span>
      </ion-col>
      <ion-button (click)="addItems()"
        ><ion-icon
          name="add-outline"
          style="margin-right: 6px; font-size: 24px"
        ></ion-icon
        >Add</ion-button
      >
      <!-- <ion-col style="text-align: right;">
        <span class="label">Quantitiy : </span>
        <span>
          <ion-icon
            class="icon-md"
            style="margin-bottom: -0.375rem"
            name="remove-circle-outline"
            (click)="removeQuntity(fabric)"
          ></ion-icon>
          <ion-text style="padding-left: 0.625rem; padding-right: 0.625rem"
            >{{quntity}}</ion-text
          >
          <ion-icon
            class="icon-md"
            style="margin-bottom: -0.375rem"
            name="add-circle-outline"
            (click)="addQuntity(fabric)"
          ></ion-icon>
        </span>
      </ion-col> -->
    </ion-row>
    <div class="seletedItem" *ngFor="let item of selectedItem; let i=index;">
      <ion-row style="align-items: center;">
        <!-- <ion-col>Article :</ion-col> -->
        <ion-col class="value" style="border-bottom: 1px solid lightgreen;">
          <!-- {{article?.articleName}} -->
          <ion-select
            label="Article: "
            label-placement="fixed"
            [(ngModel)]="item.articleId"
            placeholder="Select Article"
            (ionChange)="onArticleChange($event, item)"
            style="padding-left: 8px"
          >
            <ion-select-option
              *ngFor="let article of masterMenu"
              [value]="article.articleId"
              >{{article.articleName}}</ion-select-option
            >
          </ion-select>
        </ion-col>
      </ion-row>

      <ion-row style="align-items: center;" *ngIf="item?.colorCode || i==0">
        <ion-col style="padding-left: 12px">Color :</ion-col>
        <ion-col
          class="value"
        >
        <ion-icon [style.color]="(selectedColor?.hexCode === selectedColor?.hexCode && i==0) ? selectedColor?.hexCode : item.colorCode" name="ellipse" style="margin-bottom: -6px; font-size: 24px;"></ion-icon>
        {{ (selectedColor?.hexCode === selectedColor?.hexCode && i==0) ? selectedColor?.colorName: item.colorName }}</ion-col
        >
      </ion-row>
      <ion-row  *ngIf="item?.price" style="align-items: center;">
        <ion-col style="padding-left: 12px">Price : </ion-col>
        <ion-col class="value"><span >&#8377;</span>{{item.price * item.quntity}}</ion-col>
      </ion-row>
      <ion-row *ngIf="item?.quntity" style="align-items: center;">
        <ion-col style="padding-left: 12px">Quantity : </ion-col>
        <ion-col class="value">
          <span>
          <ion-icon
            class="icon-md"
            style="margin-bottom: -0.375rem"
            name="remove-circle-outline"
            (click)="removeQuntity(item)"
          ></ion-icon>
          <ion-text style="padding-left: 0.625rem; padding-right: 0.625rem"
            > {{item.quntity}}</ion-text
          >
          <ion-icon
            class="icon-md"
            style="margin-bottom: -0.375rem"
            name="add-circle-outline"
            (click)="addQuntity(item)"
          ></ion-icon>
        </span>
        <ion-icon 
        (click)="removeItem(item)" class="delete" name="trash-outline"></ion-icon>
       </ion-col>
      </ion-row>
    </div>
  </ion-grid>

  <ion-button
    expand="block"
    class="add-to-cart"
    (click)="addToCart()"
    shape="round"
  >
    <ion-icon name="cloud-upload-outline" slot="start"></ion-icon>
    Add To Cart
  </ion-button>

  <ion-button
    (click)="bookTailor()"
    expand="block"
    shape="round"
    class="book-tailor"
  >
    <ion-icon
      style="padding-right: 0.438rem"
      class="icon-md"
      name="reader-outline"
      slot="start"
    ></ion-icon>
    Book Tailor
  </ion-button>
</ion-content>
