.section-title {
  padding-left: 10px;
}

.card-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tailor-thumbnail {
  flex-shrink: 0;
  margin-right: 16px;
  height: 5rem;
  width: 5rem;
}

.tailor-info {
  flex-grow: 1;
}

.view-profile-button {
  flex-shrink: 0;
}

.locationIcon{
    color: red;
    font-size: 1.4rem;
    margin-bottom: -5px;
    padding-right: 7px;
    margin-left: -3px;

}
.FontSize{
    font-size: 0.9rem;
}