<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/customer/with-fabric"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="article">{{article.articleName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="article" class="container card mt-2 text-center">
    <ngb-carousel #carousel [interval]="2000" class="carousel-container carousel">
      <ng-template ngbSlide *ngIf="article">
        <div class="carousel-slide">
          <div class="carousel-caption">
            <h3>{{article.articleName}}</h3>
          </div>
          <a>
            <div class="picsum-img-wrapper">
              <img [src]="article.imageUrl" [alt]="article.articleName" height="250px" width="250px" />
            </div>
          </a>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>

  <!-- Responsive Two-Column Layout -->
  <ion-grid>
    <ion-row>
      <ion-col size="6" size-md="6" class="ion-padding">
        <div class="container text-center">
          <h3 class="color">Color</h3>
        </div>
      </ion-col>
      <ion-col size="6" size-md="6" class="ion-padding">
        <div class="container text-center">
          <h3 class="size-chart" (click)="openSizeChartModal()">Size Chart <ion-icon id="size-chart-icon" name="chevron-forward"></ion-icon></h3>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="container">
    <div class="category-list">
      <div class="category-item" *ngFor="let color of colorClassificatioMaster">
        <ion-thumbnail class="color-box">
          
        </ion-thumbnail>
        <p class="thumbnail-text">{{ color.colorName }}</p>
      </div>
    </div>
  </div>
  <div class="container">
    <h3>Brand</h3>
  </div>
  <div class="container">
    <h3>Fabric</h3>
  </div>
</ion-content>
