.hero {
    text-align: center;
    padding: 40px;
    // background: url('/assets/hero-bg.jpg') no-repeat center center/cover;
  }
  
  .services {
    text-align: center;
    padding: 20px;
  }
  
  ion-card {
    text-align: center;
    padding: 15px;
  }
  
  .tailors ion-item {
    --background: #f9f9f9;
    border-radius: 10px;
    margin: 10px 0;
  }
  
  .how-it-works {
    text-align: center;
    padding: 20px;
  }
  
  ion-footer {
    text-align: center;
  }
  
  #service {
    text-align: center;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    p{
      font-size: 1.25rem; color: white;
    }
  }
  .with-fabric{
    background: url('/assets/images/with_fabric.jpeg') no-repeat center center/cover;
  }
  .with-out-fabric{
    background: url('/assets/images/with_out_fabric.jpeg') no-repeat center center/cover;
  }
  .alteration{
    background: url('/assets/images/Alteration.jpg') no-repeat center center/cover;
  }
  .stitching{
    background: url('/assets/images/Stitching.jpg') no-repeat center center/cover;
  }
  .measurement{
    background: url('/assets/images/Measurement.jpg') no-repeat center center/cover;
  }