<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      <div class="logo-container">
        <ion-thumbnail class="logo-thumbnail">
          <img src="/assets/logo/t-Logo1.jpg" />
        </ion-thumbnail>
        <span class="title-text">Dashboard</span>
      </div>
    </ion-title>
    <ion-avatar
      *ngIf="isLoggedIn"
      slot="end"
      (click)="openMenu($event, '185ms', '90ms')"
      class="char-avatar"
    >
      <ng-container *ngIf="isLoggedIn">
        <div class="avatar-text">{{ userInitial }}</div>
      </ng-container>
    </ion-avatar>
    <ion-buttons *ngIf="!isLoggedIn" slot="end">
      <ion-button (click)="navigateTo()">Login</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="location" class="location-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="search-container">
    <ion-searchbar
      [(ngModel)]="searchQuery"
      (click)="stopAutoTyping()"
      (ionBlur)="restartAutoTyping()"
      [placeholder]="searchQueryAuto"
      class="custom-searchbar"
    ></ion-searchbar>
  </div>

  <div *ngIf="permotionalBanner.length > 0">
    <ngb-carousel
      #carousel
      [interval]="2000"
      [pauseOnFocus]="pauseOnFocus"
      (slide)="onSlide($event)"
      [showNavigationArrows]="true"
      [showNavigationIndicators]="false"
      class="carousel-container custom-carousel"
    >
      <ng-template ngbSlide *ngFor="let brand of permotionalBanner">
        <div class="carousel-slide">
          <!-- Image -->
          <div class="picsum-img-wrapper">
            <img
              [src]="brand.logoUrl"
              [alt]="brand.brandName"
              height="250px"
              width="500px"
            />
          </div>

          <!-- Overlay Text (Brand Name + Discount) -->
          <div class="carousel-caption">
            <p class="h2"><strong>{{ brand.brandName }}</strong></p>
            <p>Get up to <strong>{{ brand.discount }}% OFF</strong>!</p>
          </div>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>

  <!-- Hero Section -->
  <!-- <div class="hero">
  <h1>Find the Best Tailors for Alteration & Stitching!</h1>
  <p>Get your clothes stitched or altered by professional tailors near you.</p>
  <ion-button expand="full" color="secondary" (click)="getExpTailors()" >Explore Tailors</ion-button>
</div> -->
  <!-- routerLink="/tailors" -->
  <!-- Services Section -->
  <!-- <div class="services"> -->
    <!-- <div class="card p-2">
      <h2 style="margin: 6px;">Our Services</h2>
    </div> -->
    <!-- <ion-grid style="padding: 0px; padding-top: 18px; padding-bottom: 18px;">
      <ion-row style="padding: 0px;">
        <ion-col size="6" (click)="getService('with-fabric')" style="padding: 0px;">
          <ion-thumbnail class="service">
            <img src="/assets/images/with_fabric1.jpeg" alt="With Fabric" />
            <p class="thumbnail-text text-service">With Fabric</p>
          </ion-thumbnail>
        </ion-col>
        <ion-col size="6" class="align-right">
          <ion-thumbnail class="service">
            <img src="/assets/images/with_out_fabric1.jpeg" alt="With Out Fabric" />
            <p class="thumbnail-text text-service">With Out Fabric</p>
          </ion-thumbnail>
        </ion-col>
      </ion-row>
    </ion-grid> -->
  <!-- </div> -->
  <div class="grid grid-cols-2 gap-6 p-2" style="margin-top: 25px;">
    <ion-grid *ngIf="ourService">
      <ion-row class="flex justify-center items-center gap-6">
        <ion-col
          *ngFor="let service of ourService; let i = index"
          (click)="getService(service.serviceType)"
          size="6"
          class="flex flex-col items-center"
        >
          <div
            (click)="getService('with-fabric')"
            class="bg-white rounded-[10px] shadow-lg p-3 transform hover:scale-105 transition duration-300"
            style="margin: 7px; border-radius: 10px"
          >
            <img
              [src]="service.image"
              [alt]="service.alt"
              class="w-full h-40 object-cover rounded-[10px]"
            />
            <div
              class="text-black font-bold text-center mt-2 text-base sm:text-lg"
            >
              {{ service.serviceType }}
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!-- Popular Tailors Section -->
  <!-- Top Rated Fabric -->
  <app-top-rated-fabric></app-top-rated-fabric>
  <!-- Top rated Tailor -->
   <app-top-rated-tailor></app-top-rated-tailor>

  


  <!-- routerLink="/tailor/{{tailor.id}}" -->
  <!-- How It Works Section -->
  <!-- <div class="how-it-works">
    <h2>How It Works</h2>
    <ion-row>
      <ion-col size="4">
        <ion-card>
          <ion-icon name="search" size="large"></ion-icon>
          <p>Browse Tailors</p>
        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card>
          <ion-icon name="calendar" size="large"></ion-icon>
          <p>Book Service</p>
        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card>
          <ion-icon name="checkmark-circle" size="large"></ion-icon>
          <p>Get It Done</p>
        </ion-card>
      </ion-col>
    </ion-row>
  </div> -->
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title style="font-size: 0.75rem"
      >© 2025 Tailor App. All Rights Reserved.</ion-title
    >
  </ion-toolbar>
</ion-footer>
