<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      <div class="logo-container">
        <ion-thumbnail class="logo-thumbnail">
          <img src="/assets/logo/t-Logo1.jpg" />
        </ion-thumbnail>
        <span class="title-text">Dashboard</span>
      </div>
    </ion-title>
    <ion-avatar
      *ngIf="isLoggedIn"
      slot="end"
      (click)="openMenu($event, '185ms', '90ms')"
      class="char-avatar"
    >
      <ng-container *ngIf="isLoggedIn">
        <div class="avatar-text">{{ userInitial }}</div>
      </ng-container>
    </ion-avatar>
    <ion-buttons *ngIf="!isLoggedIn" slot="end">
      <ion-button (click)="navigateTo()">Login</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="location" class="location-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar
    [(ngModel)]="searchQuery"
    (click)="stopAutoTyping()"
    (ionBlur)="restartAutoTyping()"
    [placeholder]="searchQueryAuto"
    class="search-text"
  ></ion-searchbar>
  <div *ngIf="permotionalBanner">
    <ngb-carousel
      #carousel
      [interval]="2000"
      [pauseOnFocus]="pauseOnFocus"
      (slide)="onSlide($event)"
      class="carousel-container carousel"
    >
      <ng-template
        ngbSlide
        *ngFor="let brand of permotionalBanner; let i = index"
      >
        <div class="carousel-slide">
          <div class="carousel-caption">
            <h3>{{brand.brandName}}</h3>
          </div>
          <a>
            <div class="picsum-img-wrapper">
              <img
                [src]="brand.logoUrl"
                [alt]="brand.description"
                height="250px"
                width="500px"
              />
            </div>
          </a>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
  <!-- Hero Section -->
  <!-- <div class="hero">
  <h1>Find the Best Tailors for Alteration & Stitching!</h1>
  <p>Get your clothes stitched or altered by professional tailors near you.</p>
  <ion-button expand="full" color="secondary" (click)="getExpTailors()" >Explore Tailors</ion-button>
</div> -->
  <!-- routerLink="/tailors" -->
  <!-- Services Section -->
  <div class="services">
    <div class="card">
      <h2 style="margin: 6px;">Our Services</h2>
    </div>
    <ion-grid style="padding: 0px; padding-top: 18px; padding-bottom: 18px;">
      <ion-row style="padding: 0px;">
        <ion-col size="6" (click)="getService('with-fabric')" style="padding: 0px;">
          <ion-thumbnail class="service">
            <img src="/assets/images/with_fabric1.jpeg" alt="With Fabric" />
            <p class="thumbnail-text text-service">With Fabric</p>
          </ion-thumbnail>
        </ion-col>
        <ion-col size="6" class="align-right">
          <ion-thumbnail class="service">
            <img src="/assets/images/with_out_fabric1.jpeg" alt="With Out Fabric" />
            <p class="thumbnail-text text-service">With Out Fabric</p>
          </ion-thumbnail>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!-- Popular Tailors Section -->
  <div class="top-rated">
    <div class="card" style="margin-left: 20px; margin-right: 20px; margin-bottom: 18px;">
      <h2 style="text-align: center; margin: 6px;">Top Rated Tailors</h2>
    </div>

    <!-- <ion-list style="margin-left: 20px; margin-right: 20px;">
      <ion-item *ngFor="let tailor of tailors">
        <ion-avatar slot="start">
          <img [src]="tailor.image" alt="Tailor Profile" />
        </ion-avatar>
        <ion-label>
          <h3>{{ tailor.name }}</h3>
          <p>{{ tailor.specialization }}</p>
          <ion-badge color="success">{{ tailor.rating }} ⭐</ion-badge>
        </ion-label>
        <ion-button fill="outline" (click)="viewProfile(tailor)"
          >View</ion-button
        >
      </ion-item>
    </ion-list> -->
  </div>
  <div class="top-rated">
    <div class="card" style="margin-left: 20px; margin-right: 20px; margin-bottom: 18px;">
      <h2 style="text-align: center; margin: 6px;">Top Rated Fabrics</h2>
    </div>
    <ion-grid style="padding: 20px; margin-bottom: 20px;" *ngIf="fabricMaster">
      <ion-row style="padding: 0px;">
        <ion-col 
          size="4" size-md="4" size-lg="4" 
          style="padding: 0px; padding-bottom: 40px;" 
          *ngFor="let fabric of displayedFabrics; let i = index">
          
          <ion-thumbnail class="fabric-thumb">
            <img [src]="fabric.imageUrl" [alt]="fabric.fabricType" />
            <p class="thumbnail-text text-service">{{ fabric.fabricType }}</p>
          </ion-thumbnail>
          
        </ion-col>
      </ion-row>
    
      <!-- View More Button -->
      <ion-row *ngIf="fabricMaster.length > itemsPerPage && !showAllFabric">
        <ion-col size="12" class="center-button">
          <ion-button expand="full" (click)="toggleViewMore()">
            View More
          </ion-button>
        </ion-col> 
      </ion-row>
    </ion-grid>
    
  </div>
  <!-- routerLink="/tailor/{{tailor.id}}" -->
  <!-- How It Works Section -->
  <!-- <div class="how-it-works">
    <h2>How It Works</h2>
    <ion-row>
      <ion-col size="4">
        <ion-card>
          <ion-icon name="search" size="large"></ion-icon>
          <p>Browse Tailors</p>
        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card>
          <ion-icon name="calendar" size="large"></ion-icon>
          <p>Book Service</p>
        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card>
          <ion-icon name="checkmark-circle" size="large"></ion-icon>
          <p>Get It Done</p>
        </ion-card>
      </ion-col>
    </ion-row>
  </div> -->
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title style="font-size: 0.75rem"
      >© 2025 Tailor App. All Rights Reserved.</ion-title
    >
  </ion-toolbar>
</ion-footer>
