.otp-container {
  text-align: center;
  h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  p {
    font-size: 1rem;
    margin-bottom: 2rem;
  }
}

.otp-input-container {
  display: flex;
  justify-content: center;
  gap: 10px;

  .otp-input {
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}

.timer {
  margin: 1rem 0;
}

@media (min-width: 768px) {
  .otp-container h2 {
    font-size: 2rem;
  }
  .otp-container p {
    font-size: 1.2rem;
  }
}

.header {
  margin-top: 20px;
  text-align: center;

  img {
    width: 60px;
    max-width: 100px;
  }
}
